<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/chrishowejones/" target="_blank">chrishowejones</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/chrishowejones" target="_blank">linkedin.com/in/chrishowejones</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://www.howe-jones.co.uk/" target="_blank">www.howe-jones.co.uk</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:chris.howejones@gmail.com" target="_blank">chris.howejones@gmail.com</a></p>
<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/agile_geek" target="_blank">@agile_geek</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:+447941300788" target="_blank">+44 7941 300 788</a></p>
